Task 4 - SQL
Author: Desiree Blake
Module 5

Creating and Connecting to a Database

In [3]:
#Importing
import sqlite3

#Connecting to the books database
connection = sqlite3.connect('books.db')

Viewing the Authors Table

In [4]:
import pandas as pd 
pd.options.display.max_columns = 10
pd.read_sql('Select * FROM authors', connection, 
            index_col=['id'])

DatabaseError: Execution failed on sql 'Select * FROM authors': no such table: authors